<!DOCTYPE html>
<html>
<head>
  <title>DGD-exchange</title>
  <link rel="stylesheet" type="text/css" href="<%= DGD_EXCHANGE_URL %>/assets/vendor.css" />
  <link rel="stylesheet" type="text/css" href="<%= DGD_EXCHANGE_URL %>/assets/app.css" />
</head>
<body>
<p>hello</p>
<div id="dgd-exchange" class="listing"></div>

</body>
<script src="<%= DGD_EXCHANGE_URL %>/assets/vendor.js"></script>
<script src="<%= DGD_EXCHANGE_URL %>/assets/app.js"></script>
</html>
