<!DOCTYPE html>
<html>
<head>
  <title>DGD-exchange</title>
  <link rel="stylesheet" type="text/css" href="<%= DGD_EXCHANGE_URL %>/assets/vendor.css" />
  <link rel="stylesheet" type="text/css" href="<%= DGD_EXCHANGE_URL %>/assets/app.css" />
</head>
<body>
<div>
  <h1>Sorry something went wrong</h1>
</div>
</body>
</html>
